body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.container{
    width: 400px;
    height: 400px;
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
}
span{
    display: block;
}
label{
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
span i {
    font-size: 48px;
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
}
input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
input::before{
    background-color: transparent;
}
.login{
    border: 1px solid #03e9f4;
    background-color: transparent;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
.loginText{
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}
.create{
    position: relative;
    color: #FF0063;
    top: -30px;
    left: 130px;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}